    <h1 class="font-semibold text-white ">Product Name      : {{Product}}</h1>
    <h1 class="font-semibold text-white ">Product Quesntity : {{Quentity()}}</h1>
    <h1 class="font-semibold text-white ">Product Price     : {{price()}}</h1>
    <div class="w-full flex justify-evenly mt-5">
        <button class="w-2/7 bg-green-600 border-2 text-white hover:text-green-600 hover:bg-white
        rounded-md cursor-pointer">Add</button>
       <button class="w-2/7 bg-red-600 border-2 text-white hover:text-red-600 hover:bg-white
        rounded-md cursor-pointer">Sub</button>
    </div>